.filter {
  float: left;
}

.results {
  float: left;
  width: 100%;
}

.result {
  width: 100%;
  height: 100px;
}

.result img {
  float:left;
  margin-left: 10px;
  margin-right: 10px;
}

.result div {
  float: left;
}
