<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Flight Filter</title>
  <link rel="stylesheet" type="text/css" href="app.css">
  <script type='text/javascript' src='jquery.js'></script>
  <script type='text/javascript' src="underscore.js"></script>
  <script type='text/javascript' src="angular.js"></script>
  <script type='text/javascript' src="app.js"></script>
</head>
  <body ng-app="app">
    <div ng-controller="FlightResultsController">
      <h2>Flight Filter</h2>
      <hr/>
      <div>
        <ul class="filter">
          <li><b>Stops</b></li>
          <li ng-repeat="stop in StopList| orderBy:['stop']">
            <label><input type="checkbox" ng-model="stopCheckboxes[stop]" />{{stop}}</label>
          </li>
        </ul>
        <ul class="filter">
          <li><b>Airline</b></li>
          <li ng-repeat="airline in AirlineList | orderBy:['airline']">
            <label><input type="checkbox" ng-model="airlineCheckboxes[airline]"/>{{airline}}</label>
          </li>
        </ul>
        <ul class="filter">
          <li><b>Outbound: Flight Departure</b></li>      
          <label>Minimum</label>        
          <input type="number" min="{{OutboundDepartureTimeMinimum}}" max="{{OutboundDepartureTimeMaximum}}" ng-model="SelectedOutboundDepartureTimeMinimum"/>
          <label>Maximum</label>
          <input type="number" min="{{OutboundDepartureTimeMinimum}}" max="{{OutboundDepartureTimeMaximum}}" ng-model="SelectedOutboundDepartureTimeMaximum"/>
        </ul>
        <ul class="filter">
          <li><b>Inbound: Flight Departure</b></li>     
          <label>Minimum</label>        
          <input type="number" min="{{InboundDepartureTimeMinimum}}" max="{{InboundDepartureTimeMaximum}}" ng-model="SelectedInboundDepartureTimeMinimum"/>
          <label>Maximum</label>
          <input type="number" min="{{InboundDepartureTimeMinimum}}" max="{{InboundDepartureTimeMaximum}}" ng-model="SelectedInboundDepartureTimeMaximum"/>
        </ul>
        <ul class="filter">
          <li><b>Flight Duration</b></li>
          <label>Minimum</label>        
          <input type="number" min="{{DurationMinimum}}" max="{{DurationMaximum}}" ng-model="SelectedDurationMinimum"/>
          <label>Maximum</label>
          <input type="number" min="{{DurationMinimum}}" max="{{DurationMaximum}}" ng-model="SelectedDurationMaximum"/>
        </ul>
        <ul class="filter">
          <li><b>Order By</b></li>
          <select ng-model="sortOrder">
            <option value="">-- choose sort order --</option>
            <option value="-Price">Price - Highest to Lowest</option>
            <option value="Price">Price - Lowest to Highest</option>
            <option value="-Outbound.Duration+Inbound.Duration">Duration - Shortest to Longest</option>
            <option value="Outbound.Duration+Inbound.Duration">Duration - Longest to Shortest</option>
            <option value="-Outbound.DepartureTime">Departure - Earliest to Latest</option>
            <option value="Outbound.DepartureTime">Departure - Latest to Earliest</option>
          </select>
        </ul>
      </div>
      <div class="results">
        <div ng-repeat="result in results | filter: searchFilter | orderBy:sortOrder">
          <label><b>{{result.Outbound.AirlineName}} - &pound;{{result.Price}}</b></label>
          <div class="result">
            <div>
              {{result.Outbound.FlightNo}}<br/>
              {{result.Outbound.DepartureIata}}<br/>
              {{result.Outbound.DepartureTimeString}}
            </div> 
            <img src="http://i188.photobucket.com/albums/z153/NidiaE/airplane.gif"/>
            <div>
              {{result.Inbound.FlightNo}}<br/>
              {{result.Inbound.DepartureIata}}<br/>
              {{result.Inbound.DepartureTimeString}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
